@use "./variables";

//CUSTOM ELEMENT SELECTOR
@mixin custom-selector ($selector: null, $pre: null, $post: null) {
    $new-selector: "&";
    @if ($selector != null) {
        $new-selector: $selector;
    }

    @if ($pre != null) {
        $new-selector: $pre + $new-selector;
    }
    @if ($post != null) {
        $new-selector: $new-selector + $post;
    }

    @if ($selector != null) {
        @at-root #{unquote(#{$new-selector})} {
            @content;
        }
    } @else {
        #{unquote(#{$new-selector})} {
            @content;
        }
    }
}

//BREAKPOINT SELECTOR
@mixin custom-breakpoint($amount: 0, $below: null) {
    @if ($below == null) {
        @media (min-width: $amount) {
            @content;
        }
    } @else {
        @media (max-width: $amount) {
            @content;
        }
    }
}
