@use "./variables";
@use "./functions";
@use "./mixins";

body {
    margin: 0;
}

._title {
    display: block;
    
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;

    font-size: 4em;
    font-weight: bold;
}

._subtitle {
    display: block;
    
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    
    color: var(--var-black-dim);
    font-size: 4em;
    font-weight: bold;
}

@mixin title {
    ._title {
        @content;
    }
}

@mixin subtitle {
    ._subtitle {
        @content;
    }
}

@mixin heading {
    h1, h2, h3, h4, h5, h6 {
        @content;
    }
}

@mixin major-heading {
    ._title {
        @content;
    }

    ._subtitle {
        @content;
    }
}

@mixin total-heading {
    @include heading {
        @content;
    }

    @include major-heading {
        @content;
    }
}
