@use "~src/scss/helpers";
@use "~src/scss/resources";
@use "~src/scss/resources/effects";
@use "~src/scss/resources/breakpoints";
@use "~src/scss/resources/themes";
@use "~src/scss/stylesheets";

.rect-link {
    --background: white;
    --icon-size: 2cm;
}

.rect-link {
    & {
        box-sizing: border-box;

        display: inline-block;

        padding: 1em;
        // padding-bottom: 2em;

        background: var(--background);

        text-decoration: none;
    }
    
    .icon {
        display: block;

        width: var(--icon-size);
        height: var(--icon-size);

        object-fit: contain;

        // margin: auto auto;
        // margin-right: auto;

        @include effects.drop-out(true);
    }

    .title {
        display: block;

        font-size: 2em;
        font-weight: bold;
        // text-align: center;
        text-align: left;

        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .subtitle {
        display: block;

        font-weight: bold;
        // text-align: center;
        text-align: left;

        margin-bottom: 0.75rem;
    }

    .description {
        display: block;

        // text-align: center;
        padding-bottom: 2em;

        // font-size: 0.9em;
        word-wrap: break-word;
    }

    // a.subtitle {
    //     color: inherit;
    // }
}