@use "~src/scss/helpers";
@use "~src/scss/helpers/variables";
@use "~src/scss/helpers/mixins";
@use "~src/scss/helpers/styles";
@use "~src/scss/resources";
@use "~src/scss/resources/effects";
@use "~src/scss/resources/breakpoints";
@use "~src/scss/resources/sizes";

html {
    scroll-behavior: smooth;
}

#App {
    display: grid;
    justify-content: stretch;
    align-content:flex-start;
    gap: 0;

    > * {
        
    }
}
