@use "~src/scss/helpers";
@use "~src/scss/helpers/styles";
@use "~src/scss/resources";
@use "~src/scss/resources/themes";
@use "~src/scss/resources/colours";
@use "~src/scss/resources/fonts";
@use "~src/scss/resources/effects";

:root {
    //
}

* {
    font-family: Roboto, sans-serif;

    color: var(--col-black);

    @include themes.dark {
        color: var(--col-white);
    }
}

@include styles.total-heading {
    color: var(--col-gold-dim);

    @include styles.major-heading {

        @include styles.title {

        }

        @include styles.subtitle {

        }
    }

    @include styles.heading {
        
        h1 {

        }
        h2 {

        }
        h3 {

        }
        h4 {

        }
        h5 {

        }
        h6 {
            
        }
    }

    @include themes.dark { //POTENTIAL ERROR!!!!!!! alternative: (h1, h2, h3, h4, h5, h6 ----> :is(h1, h2, h3, h4, h5, h6) or :where(h1, h2, h3, h4, h5, h6))
        color: var(--col-white);
    }
}

a {
    color: var(--col-gold-dim);

    text-decoration-thickness: var(--line-width);
}

hr {
    border-width: calc(var(--line-width) / 2);

    border-color: var(--col-black);
    color: var(--col-black);
    background-color: var(--col-black);

    @include themes.dark {
        border-color: var(--col-white);
        color: var(--col-white);
        background-color: var(--col-white);
    }
}

ul {

    li {

    }
}

ol {

    li {

    }
}

li {

}
