:root {
    --col-white: #ffffff;
    --col-black: #000000;

    --col-grey-light:#f3f0f0;
    --col-grey-dark: #555555;
    
    --col-purple: #551fa7;
    --col-purple-light: #653aa4;
    --col-purple-dark: #573164;
    
    --col-red-pink: #f45b4f;

    --col-gold: #d4af37;
}