/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*VARIABLES*/

* {
    /*styling*/
    --bfl-purple: #573164;
    --bfl-gold: #d4af37;
    --bfl-white: #ffffff;
    --bfl-black: #000000;
    --bfl-grey:#f3f0f0;
    /* --bfl-grey:#e2e2e2; */

    --drop-out: 1px 1px 12px rgb(0, 0, 0, 0.5);
    --drop-in: inset 0 0 12px rgb(0, 0, 0, 0.5);

    /*layout*/
    --navbar-height: 10em;

    --line-width: 2px;

    --max-media-width:32cm;
    --max-info-width:34cm;
    --max-article-width:24cm;
}

/*STYLING GENERIC*/

* {
    font-family: "Roboto";
    /* font-family: serif; */
    /* font-family:'Times New Roman'; */
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--bfl-gold);
    font-weight: bold;
}

a {
    color: var(--bfl-gold);
}

hr {
    border-width: calc(var(--line-width) / 2);
}

.page-banner {
    position: relative;

    padding: 1em;
}

.page-banner > div {
    width: 100%;
    max-width: var(--max-info-width);
    margin: auto;
}

.white-link {
    color: var(--bfl-white);
    text-decoration: none;
}

.white-link:hover {
    color: var(--bfl-grey);
}

.book-player {
    
    /*layout*/

    --progress-zone-top: 4em;
    --progress-zone-bottom: 2em;

    --progress-area-height: 30%;

    --progress-min: var(--line-width);
    --progress-near: 4px;
    --progress-max: 8px;

    --point-min: var(--progress-min);
    --point-near: 10px;
    --point-most: 16px;
    --point-max: 22px;


    --page-zone-width: 25%;

    --page-area-width: 14em;

    --page-arrow-distance: 36px;

    /*styling*/

    --major: var(var(--bfl-purple));

    --area: #00000022;
    --area-anim: opacity 100ms linear;

    --page-turn: #00000011;

    /*data*/
    --page-per-view: 2;

    --total-pages: 10;
    --current-page: 1;
    --progress: 0%;
}

/*STYLING INVERT*/

.bfl-invert {
    color: white;
    background-color: var(--bfl-purple);
}

.bfl-invert h1,
.bfl-invert h2,
.bfl-invert h3,
.bfl-invert h4,
.bfl-invert h5,
.bfl-invert h6 {
    color: white;
}

/*STLYING SHADOW*/

.sty-box {

}

.sty-img {

}

.drop.sty-box, .drop-out.sty-box {
    box-shadow: var(--drop-out);
}

.drop.sty-img, .drop-out.sty-img {
    filter:drop-shadow(var(--drop-out));
}

.drop-in.sty-box {
    box-shadow: var(--drop-in);
}

.drop-in.sty-img {
    filter:drop-shadow(var(--drop-in));
}

/*STYLING NAVBAR*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    border: var(--line-width) solid var(--bfl-grey);
    /* width: 100%; */
    padding:1em;

    background-color: var(--bfl-white);

    z-index: 1;
}

#navbar-logo {
    cursor: pointer;

    margin:auto 2em;
    height: var(--navbar-height);
}

header nav {
    display: flex;
    flex-wrap: wrap;
}

header nav > * {
    display: inline-block;
    flex-shrink: 0;

    margin: auto 0.5em;
}

header nav > a, header nav > a > h2 {
    color: var(--bfl-purple);
    text-decoration: none;
}
header nav > a:hover, header nav > a:hover > h2 {
    color: var(--bfl-gold);
    text-decoration:underline;
}

#content {
    /* height: 100%; */
}

/*STYLING BOOK VIEWER*/

.book-player {
    cursor: crosshair;

    position: relative;

    margin: 1cm auto;
    max-width: var(--max-media-width);
    /* max-height:; */

    box-shadow: var(--drop-out);
}

.book-player > .page {
    
}

.book-player > .page > img {
    width: 100%;
}

/*STYLING BOOK PROGRESS BAR*/

.book-player .progress-zone {
    position: absolute;

    bottom: calc(var(--progress-zone-bottom) * -1);

    width: 100%;
    height: calc(var(--progress-zone-top) + var(--progress-zone-bottom));

    z-index: 1;
}

.book-player .progress-zone > div {
    position: absolute;

    bottom: calc(var(--progress-zone-bottom) * 1);

    height: 0;
    width: 100%;
}

.book-player .progress {
    position: absolute;

    bottom: calc(var(--progress-min) / -2);
    
    width: 100%;
    height: var(--progress-min);

    transform: translateY(50%);

    transition: height 30ms ease-in-out;
}

.book-player .progress > .fill {
    position: relative;

    width: var(--progress);
    height: 100%;
    
    background-color: var(--bfl-purple);
}

.book-player .progress .point {
    position: absolute;

    top:50%;
    right: 0;

    width: var(--point-min);
    height: var(--point-min);

    border-radius: 100%;
    background-color: var(--bfl-purple);

    transform: translate(50%, -50%);

    transition: width 30ms linear, height 30ms linear;
}

.book-player .progress-area {
    pointer-events: none;

    position: absolute;

    bottom: 0;

    width: 100%;
    height: var(--progress-area-height);

    background-image: linear-gradient(to top, var(--area), transparent);

    opacity: 0;

    z-index: auto;

    transition: var(--area-anim);
}

.book-player .progress-zone:hover .progress {
    height: var(--progress-near);
}

.book-player .progress-zone:hover .progress .point {
    width: var(--point-near);
    height: var(--point-near);

    transition: width 30ms ease-in-out, height 30ms ease-in-out;
}

.book-player .progress-zone:hover ~ .progress-area {
    opacity: 1;
}

.book-player .progress-zone:hover .progress:hover {
    cursor: pointer;

    height: var(--progress-max);
}

.book-player .progress-zone:hover .progress:hover .point {
    width: var(--point-most);
    height: var(--point-most);

    transition: width 40ms linear, height 40ms linear;
}

.book-player .progress-zone:hover .progress:hover .point:hover {
    width: var(--point-max);
    height: var(--point-max);
}

/*STYLING PAGE BUTTONS*/

.book-player .page-zone {
    position: absolute;

    top: 0;

    width: var(--page-zone-width);
    height: 100%;

    z-index: 1;
}

.book-player .arrow {
    user-select: none;

    position: absolute;

    top: 50%;

    width: 20px;
    // margin: auto 32px;
    
    filter: drop-shadow(var(--drop-out));
    opacity: 0;

    transform: translateY(-50%);

    transition: opacity 80ms linear, left 120ms ease, right  120ms ease;
}

.book-player .page-area {
    pointer-events: none;

    display: block;
    position: absolute;

    top:0;

    width: var(--page-area-width);
    height: 100%;

    opacity: 0;

    transition: var(--area-anim);
}

.book-player .page-active {
    pointer-events: none;

    position: absolute;

    top:0;

    width: calc(100% / var(--page-per-view));
    height: 100%;

    background-color: transparent;
}

.book-player .page-zone:hover {
    cursor: pointer;
}

.book-player .page-zone:hover .arrow {
    opacity: 0.5;

    transition: opacity 60ms linear, left 120ms ease, right  120ms ease;
}

.book-player .page-zone:hover + .page-area {
    opacity: 1;

    transition: none;
}

.book-player .page-zone:hover:active .arrow {
    opacity: 1;
}

.book-player .page-zone:hover:active + .page-area {
    // opacity: 0.1;
    opacity: 0;
}

.book-player .page-zone:hover:active + .page-area + .page-active {
    // background-color: var(--page-turn);
}

/*STYLING SPECIFIC PAGE BUTTONS*/

.book-player .page-zone.next {
    right: 0;
}

.book-player .arrow.next {
    right: 0;
}

.book-player .page-area.next {
    right: 0;

    background-image: linear-gradient(to left, var(--area), transparent);
}

.book-player .page-active.next {
    right: 0;
}

// .book-player .page-zone.next:hover:active + .page-area.next {
//     left: 50%;

//     background-image: linear-gradient(to right, var(--area), transparent);
// }

.book-player .page-zone.next:hover .arrow.next {
    right: var(--page-arrow-distance);
}

.book-player .page-zone.next:hover:active + .page-area.next + .page-active.next {
    background-image: linear-gradient(to right, var(--page-turn), transparent);
}

.book-player .page-zone.last {
    left: 0;
}

.book-player .arrow.last {
    left: 0;

    transform: translateY(-50%) scaleX(-1);
}

.book-player .page-area.last {
    left: 0;

    background-image: linear-gradient(to right, var(--area), transparent);
}

.book-player .page-active.last {
    left: 0;
}

// .book-player .page-zone.last:hover:active + .page-area.last {
//     right: 50%;

//     background-image: linear-gradient(to left, var(--area), transparent);
// }

.book-player .page-zone.last:hover .arrow.last {
    left: var(--page-arrow-distance);
}

.book-player .page-zone.last:hover:active + .page-area.last + .page-active.last {
    background-image: linear-gradient(to left, var(--page-turn), transparent);
}

/*STYLING BOOK INFO*/

.book-info {
    padding: 2em 1em;
}

.book-info .content {
    text-align: left;
    display: flex;

    justify-content:space-between;
}

.book-info .cover {
    flex-shrink: 1;
}

.book-info .cover img {
    display: inline-block;
    vertical-align: top;

    /* height: 16em; */
    height: 6cm;

    box-shadow: var(--drop-out);
}

.book-info .info {
    display:inline-block;
    flex-grow: 1;

    padding: 0 1em;
}

.book-info .title {
    margin: 0 auto;

    text-decoration: none;
}

.book-info .title > * {
    margin: 0 auto;
}

.book-info .title + hr {
    color: var(--bfl-white);
}

.book-info .tags {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.book-info .author {
    flex-shrink: 0;

    color: var(--bfl-white);
    font-weight: bold;
    text-decoration: none;
}

.book-info .date {
    flex-shrink: 0;

    font-weight: bold;
}

/* .book-info .tags > hr {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;

    margin: auto 1em;
} */

.book-info .description {
    margin-block-end: 0;
    width: calc(100% - 1em);
    /* width: calc(100% - 4em); */
}

.reader-info {
    padding: 1em 1em;

    background-color: var(--bfl-grey);
}

.reader-info .content {
    text-align: left;
    display: flex;

    max-width: calc(var(--max-info-width) - 2cm);

    justify-content:space-between;
}

.reader-info .profile {
    
}
.reader-info .profile {
    text-align: left;
    display: flex;

    justify-content:space-between;
}

.reader-info .profile {
    flex-shrink: 1;
}

.reader-info .profile img {
    display: inline-block;
    vertical-align: top;

    height: 2cm;

    box-shadow: var(--drop-out);
}

.reader-info .info {
    display:inline-block;
    flex-grow: 1;

    padding: 0 1em;
}

.reader-info .tags {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    flex-wrap: wrap;
}

.reader-info .name {
    flex-shrink: 0;

    margin: 0 0;

    text-decoration: none;
}

.reader-info .name > * {
    margin: 0 0;

    color: var(--bfl-black);
}

.reader-info .date {
    flex-shrink: 0;

    font-weight: bold;
}

.reader-info hr {
    color: var(--bfl-white);
}

.book-info .description {
    /* margin:0; */
    width: calc(100% - 1em);
}