/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.responsive-test {
  font-family: Arial;
  font-weight: bold;
}

.responsive-test::after {
  content: "N/A";
}

@media (min-width: 0) {
  .responsive-test::after {
    color: purple;
    content: "Extra Small (xs)";
  }
}

@media (min-width: 480px) {
  .responsive-test::after {
    color: blue;
    content: "Small (sm)";
  }
}

@media (min-width: 720px) {
  .responsive-test::after {
    color: green;
    content: "Medium (md)";
  }
}

@media (min-width: 960px) {
  .responsive-test::after {
    color: orange;
    content: "Large (lg)";
  }
}

@media (min-width: 1200px) {
  .responsive-test::after {
    color: red;
    content: "Extra Large (xl)";
  }
}

@media (min-width: 1400px) {
  .responsive-test::after {
    color: brown;
    content: "GIGANTIC";
  }
}

/*VARIABLES*/
* {
  /*styling*/
  --bfl-purple: #573164;
  --bfl-gold: #d4af37;
  --bfl-white: #ffffff;
  --bfl-black: #000000;
  --bfl-grey:#f3f0f0;
  /* --bfl-grey:#e2e2e2; */
  --line-width: 2px;
  --drop-out: 1px 1px 12px rgb(0, 0, 0, 0.5);
  --drop-in: inset 0 0 12px rgb(0, 0, 0, 0.5);
}

* {
  /*layout*/
  --navbar-height: 10em;
  --max-media-width:32cm;
  --max-info-width:34cm;
  --max-article-width:24cm;
}

/*STYLING GENERIC*/
* {
  font-family: "Roboto";
  /* font-family: serif; */
  /* font-family:'Times New Roman'; */
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--bfl-gold);
  font-weight: bold;
}

a {
  color: var(--bfl-gold);
}

hr {
  border-width: calc(var(--line-width) / 2);
}

.page-banner {
  position: relative;
  padding: 1em;
}

.page-banner > div {
  width: 100%;
  max-width: var(--max-info-width);
  margin: auto;
}

.white-link {
  color: var(--bfl-white);
  text-decoration: none;
}

.white-link:hover {
  color: var(--bfl-grey);
}

.book-player {
  /*layout*/
  --progress-zone-top: 4em;
  --progress-zone-bottom: 2em;
  --progress-area-height: 30%;
  --progress-min: var(--line-width);
  --progress-near: 4px;
  --progress-max: 8px;
  --point-min: var(--progress-min);
  --point-near: 10px;
  --point-most: 16px;
  --point-max: 22px;
  --page-zone-width: 25%;
  --page-area-width: 14em;
  --page-arrow-distance: 36px;
  /*styling*/
  --major: var(var(--bfl-purple));
  --area: #00000022;
  --area-anim: opacity 100ms linear;
  --page-turn: #00000011;
  /*data*/
  --page-per-view: 2;
  --total-pages: 10;
  --current-page: 1;
  --progress: calc(var(--current-page) / var(--total-pages)) * 100%;
}

/*STYLING INVERT*/
.bfl-invert {
  color: white;
  background-color: var(--bfl-purple);
}

.bfl-invert h1,
.bfl-invert h2,
.bfl-invert h3,
.bfl-invert h4,
.bfl-invert h5,
.bfl-invert h6 {
  color: white;
}

/*STYLING SHADOW*/
/*STYLING NAVBAR*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: var(--line-width) solid var(--bfl-grey);
  /* width: 100%; */
  padding: 1em;
  background-color: var(--bfl-white);
  -webkit-box-shadow: var(--drop-out);
          box-shadow: var(--drop-out);
  z-index: 1;
}

#navbar-logo {
  cursor: pointer;
  margin: auto 2em;
  height: var(--navbar-height);
}

header .right-navbar {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 140px;
      flex-basis: 140px;
}

header .right-navbar .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  float: right;
}

header .right-navbar .content > * {
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: auto 0.5em;
}

header .right-navbar .content > *, header .right-navbar .content > * > h2 {
  color: var(--bfl-purple);
  text-decoration: none;
}

header .right-navbar .content > *:hover, header .right-navbar .content > *:hover > h2 {
  color: var(--bfl-gold);
  text-decoration: underline;
}

#content {
  /* height: 100%; */
}

/*STYLING BOOK VIEWER*/
.book-player {
  cursor: crosshair;
  position: relative;
  margin: 1cm auto;
  max-width: var(--max-media-width);
  /* max-height:; */
  -webkit-box-shadow: var(--drop-out);
          box-shadow: var(--drop-out);
}

.book-player > .page > img {
  width: 100%;
}

.book-player .progress-zone {
  position: absolute;
  bottom: calc(var(--progress-zone-bottom) * -1);
  width: 100%;
  height: calc(var(--progress-zone-top) + var(--progress-zone-bottom));
  z-index: 1;
}

.book-player .progress-zone > div {
  position: absolute;
  bottom: calc(var(--progress-zone-bottom) * 1);
  height: 0;
  width: 100%;
}

.book-player .progress-zone ~ .progress-area {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--progress-area-height);
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--area)), to(transparent));
  background-image: linear-gradient(to top, var(--area), transparent);
  opacity: 0;
  z-index: auto;
  -webkit-transition: var(--area-anim);
  transition: var(--area-anim);
}

.book-player .progress-zone:hover ~ .progress-area {
  opacity: 1;
}

.book-player .progress {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  bottom: calc(var(--progress-min) / -2);
  margin: 0;
  width: 100%;
  height: var(--progress-max);
  outline: none;
  background-color: transparent;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  z-index: 2;
}

.book-player .progress ~ .fill {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  bottom: calc(var(--progress-min) / -2);
  margin: 0;
  border-bottom-left-radius: 1vh;
  width: var(--progress);
  height: var(--progress-min);
  background-color: var(--bfl-purple);
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  z-index: 1;
  -webkit-transition: height 30ms ease-in-out;
  transition: height 30ms ease-in-out;
}

.book-player .progress-zone:hover .progress ~ .fill {
  height: var(--progress-near);
  -webkit-transition: width 40ms ease-in-out;
  transition: width 40ms ease-in-out;
}

.book-player .progress-zone:hover .progress:hover ~ .fill {
  height: var(--progress-max);
}

.book-player .progress::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: var(--point-min);
  height: var(--point-min);
  border-radius: 100%;
  background-color: var(--bfl-purple);
  -webkit-box-shadow: var(--drop-out);
          box-shadow: var(--drop-out);
  -webkit-transition: width 30ms linear, height 30ms linear;
  transition: width 30ms linear, height 30ms linear;
}

.book-player .progress-zone:hover .progress::-webkit-slider-thumb {
  width: var(--point-near);
  height: var(--point-near);
  -webkit-transition: width 30ms ease-in-out, height 30ms ease-in-out;
  transition: width 30ms ease-in-out, height 30ms ease-in-out;
}

.book-player .progress-zone:hover .progress:hover::-webkit-slider-thumb {
  width: var(--point-most);
  height: var(--point-most);
  -webkit-transition: width 40ms linear, height 40ms linear;
  transition: width 40ms linear, height 40ms linear;
}

.book-player progress-zone:hover .progress:hover::-webkit-slider-thumb:hover {
  width: var(--point-max);
  height: var(--point-max);
}

.book-player progress-zone:hover .progress::-webkit-slider-thumb:active {
  width: var(--point-max);
  height: var(--point-max);
}

/*STYLING PAGE BUTTONS*/
.book-player .page-zone {
  position: absolute;
  top: 0;
  width: var(--page-zone-width);
  height: 100%;
  z-index: 1;
}

.book-player .arrow {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 50%;
  width: 20px;
  -webkit-filter: drop-shadow(var(--drop-out));
          filter: drop-shadow(var(--drop-out));
  opacity: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity 80ms linear, left 120ms ease, right  120ms ease;
  transition: opacity 80ms linear, left 120ms ease, right  120ms ease;
}

.book-player .page-area {
  pointer-events: none;
  display: block;
  position: absolute;
  top: 0;
  width: var(--page-area-width);
  height: 100%;
  opacity: 0;
  -webkit-transition: var(--area-anim);
  transition: var(--area-anim);
}

.book-player .page-active {
  pointer-events: none;
  position: absolute;
  top: 0;
  width: calc(100% / var(--page-per-view));
  height: 100%;
  background-color: transparent;
}

.book-player .page-zone:hover {
  cursor: pointer;
}

.book-player .page-zone:hover .arrow {
  opacity: 0.5;
  -webkit-transition: opacity 60ms linear, left 120ms ease, right  120ms ease;
  transition: opacity 60ms linear, left 120ms ease, right  120ms ease;
}

.book-player .page-zone:hover + .page-area {
  opacity: 1;
  -webkit-transition: none;
  transition: none;
}

.book-player .page-zone:hover:active .arrow {
  opacity: 1;
}

.book-player .page-zone:hover:active + .page-area {
  opacity: 0;
}

/*STYLING SPECIFIC PAGE BUTTONS*/
.book-player .page-zone.next {
  right: 0;
}

.book-player .arrow.next {
  right: 0;
}

.book-player .page-area.next {
  right: 0;
  background-image: -webkit-gradient(linear, right top, left top, from(var(--area)), to(transparent));
  background-image: linear-gradient(to left, var(--area), transparent);
}

.book-player .page-active.next {
  right: 0;
}

.book-player .page-zone.next:hover .arrow.next {
  right: var(--page-arrow-distance);
}

.book-player .page-zone.next:hover:active + .page-area.next + .page-active.next {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--page-turn)), to(transparent));
  background-image: linear-gradient(to right, var(--page-turn), transparent);
}

.book-player .page-zone.last {
  left: 0;
}

.book-player .arrow.last {
  left: 0;
  -webkit-transform: translateY(-50%) scaleX(-1);
          transform: translateY(-50%) scaleX(-1);
}

.book-player .page-area.last {
  left: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--area)), to(transparent));
  background-image: linear-gradient(to right, var(--area), transparent);
}

.book-player .page-active.last {
  left: 0;
}

.book-player .page-zone.last:hover .arrow.last {
  left: var(--page-arrow-distance);
}

.book-player .page-zone.last:hover:active + .page-area.last + .page-active.last {
  background-image: -webkit-gradient(linear, right top, left top, from(var(--page-turn)), to(transparent));
  background-image: linear-gradient(to left, var(--page-turn), transparent);
}

/*STYLING BOOK INFO*/
.book-info {
  padding: 2em 1em;
  -webkit-box-shadow: var(--drop-out);
          box-shadow: var(--drop-out);
  z-index: 1;
}

.book-info .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1em;
}

.book-info .cover {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.book-info .cover img {
  display: inline-block;
  vertical-align: top;
  /* height: 16em; */
  height: 6cm;
  -webkit-filter: drop-shadow(var(--drop-out));
          filter: drop-shadow(var(--drop-out));
}

.book-info .info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
}

.book-info .title {
  margin: 0 auto;
  text-decoration: none;
}

.book-info .title > * {
  margin: 0 auto;
}

.book-info .title + hr {
  color: var(--bfl-white);
}

.book-info .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.book-info .author {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: var(--bfl-white);
  font-weight: bold;
  text-decoration: none;
}

.book-info .date {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-weight: bold;
}

/* .book-info .tags > hr {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;

    margin: auto 1em;
} */
.book-info .description {
  -webkit-margin-after: 0;
          margin-block-end: 0;
  width: calc(100% - 1em);
  /* width: calc(100% - 4em); */
}

.reader-info {
  padding: 1em 1em;
  background-color: var(--bfl-grey);
  -webkit-box-shadow: var(--drop-out);
          box-shadow: var(--drop-out);
}

.reader-info .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1em;
}

.reader-info .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reader-info .profile {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.reader-info .profile img {
  display: inline-block;
  vertical-align: top;
  height: 2cm;
  -webkit-filter: drop-shadow(var(--drop-out));
          filter: drop-shadow(var(--drop-out));
}

.reader-info .info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
}

.reader-info .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reader-info .name {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 0;
  text-decoration: none;
}

.reader-info .name > * {
  margin: 0 0;
  color: var(--bfl-black);
}

.reader-info .date {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-weight: bold;
}

.reader-info hr {
  color: var(--bfl-white);
}

.book-info .description {
  /* margin:0; */
  width: calc(100% - 1em);
}
/*# sourceMappingURL=styles.css.map */