@use "./colours";

:root {
    --line-width: 2px;
    --line-major-width: 4px;
}

:root {
    --drop-col: rgb(0, 0, 0, 0.2);
    --drop-out: 1px 1px 12px var(--drop-col); //--drop-out: 1px 1px 12px rgb(0, 0, 0, 0.5);
    --drop-in: inset var(--drop-out);
}


@function --area-gradient($direction: "to right") {
    @return linear-gradient($direction, #00000022, transparent);
}

@mixin drop-out($img: null) {
    @if $img == null {
        @include drop-box-out();
    } @else {
        @include drop-img-out();
    }
}
@mixin drop-in($img: null) {
    @if $img == null {
        @include drop-box-in();
    } @else {
        @include drop-img-in();
    }
}
@mixin drop-box-out {
    box-shadow: var(--drop-out);
}
@mixin drop-box-in {
    box-shadow: var(--drop-in);
}
@mixin drop-img-out {
    filter:drop-shadow(var(--drop-out));
}
@mixin drop-imh-in {
    filter:drop-shadow(var(--drop-in));
}
