@use "~src/scss/helpers";
@use "~src/scss/helpers/variables";
@use "~src/scss/helpers/mixins";
@use "~src/scss/helpers/styles";
@use "~src/scss/resources";
@use "~src/scss/resources/effects";
@use "~src/scss/resources/breakpoints";
@use "~src/scss/resources/sizes";

#fixed-screen {
    pointer-events: none;

    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 1000;
}