@use "../../helpers";
@use "../../resources";
@use "../../resources/appearance/colours";
@use "../../resources/appearance/effects";
@use "../../resources/appearance/themes";
@use "../../resources/layout/breakpoints";
@use "../basic";
@use "../components";
// @use "./../functions";

.book-player-info {
    @include breakpoints.min {
        padding: 1em 1em;

        > div {
            display: flex;

            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        
            max-width: var(--max-info-width);

            justify-content:space-between;
        
            gap: 1em;
        }

        .image {
            position: relative;

            margin-bottom: 0.5rem;
            
            img {
                display: inline-block;
                vertical-align: top;
                
                @include effects.drop-out(true);
            }
        }

        .info {
            flex-basis: 0;
            flex-grow: 1;
            flex-shrink: 1;
        
            > .title {
                margin: 0 auto;

                text-align: center;
                text-decoration: none;

                color: inherit;
            }

            > hr {
                display: none;
                
                border-style: solid;
            }

            > .tags {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                column-gap: 0.4em;
                row-gap: 0.4em;

                margin-top: 0.5rem;
                margin-bottom: 1rem;
                // border-top: var(--line-width) solid;

                > * {
                    flex-shrink: 0;
                    flex-grow: 1;

                    border: var(--line-width) solid;
                    // padding-top: 2px;
                    // padding-bottom: 4px;
                    padding: 2px 1em;

                    // margin-top: -2px;
                    // padding-top: 2px;;

                    font-weight: bold;
                    text-align: center;
                    text-decoration: none;
                }
            }

            > .description {
                // margin-block-end: 0;
                // width: calc(100% - 1em);
                // max-width: breakpoints.get-min(lg);
                max-width: 75ch;
            }
        }
    }

    @include breakpoints.sm {
        > div {
            flex-direction: row;
            justify-content: center;
            align-items:flex-start;
        }

        .image {
            margin-bottom: 0;

            width: var(--min-book-info);

            img {
                float: right;
            }
        }

        .info {

            > .title {
                text-align: left;

                margin-bottom: -2px;
                border: var(--line-width) solid;
                padding: 0.5rem;
            }

            > hr {

            }

            > .tags {
                justify-content: flex-start;

                column-gap: 0.5em;
                row-gap: 0.25em;
    
                margin-top: 0;
                margin-bottom: 1em;
    
                padding-left: 1em;
                padding-right: 1em;

                > * {
                    flex-grow: 0;
                }
            }

            > .description {
                padding-left: 1em;
            }
        }
    }

    @include breakpoints.lg {
        .image {
            width: var(--max-book-info);
        }
    }
}

.book-player-info.book {
    & {
        padding-top: 2em;
        padding-bottom: 2em;

        background-color: var(--col-purple-dark);

        .info {
            > .tags {

            }
        }
    }

    @include breakpoints.min {
        .image {
            img {
                width: 100%;
                height: 100%;

                object-fit: contain;
            }
        }
    }

    @include breakpoints.xs(true) {
        .image {
            width: 5cm;
        }
    }

    @include breakpoints.sm {
        .image {
            height: var(--min-book-info);

            img {
                object-position: top right;

                z-index: 1;
            }
        }
    }
    @include breakpoints.lg {
        .image {
            height: var(--max-book-info);
        }
    }
}

.book-player-info.author {
    & {
        background-color: var(--col-gold-dim);

        .info {
            > .tags {
                
            }
        }
    }

    @include breakpoints.min {
        .image {
            img {
                border-radius: 100%;;
                height: 3cm;
                width: 3cm;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    @include breakpoints.between(sm, md) {
        .image {
            img {
                width: 2cm;
                height: 2cm;
            }
        }
    }
}

.book-player-info.reader {
    & {
        background-color: var(--col-grey-light);

        .info {
            > .tags {
                
            }
        }
    }

    @include breakpoints.min {
        .image {
            img {
                border-radius: 100%;;
                height: 2cm;
                width: 2cm;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    @include breakpoints.between(sm, md) {
        .image {
            img {
                width: 2cm;
                height: 2cm;
            }
        }
    }
}


.book-player-info.editor {
    & {
        background-color: var(--col-white);

        box-shadow: none;
        border-bottom: var(--line-width) solid var(--col-grey-light);

        padding-top: 1cm;
        padding-bottom: 1cm;

        .title {
            &::before {
                content: "Edited by ";
            }
        }

        .info {
            > .tags {
                
            }
        }
    }

    @include breakpoints.min {
        .image {
            img {
                border-radius: 100%;;
                height: 1.5cm;
                width: 1.5cm;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}