@use "../../helpers";
@use "../../resources";
@use "../../resources/appearance/effects";
@use "../../resources/layout/layouts";
@use "../../resources/layout/breakpoints";
@use "../basic";
@use "../components";
@use "../../resources/layout/sizes";

#navbar {
    border: var(--line-width) solid var(--col-grey);
    /* width: 100%; */
    
    background-color: var(--col-white);
    @include effects.drop-out();

    z-index: 1;

    > .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        row-gap: 1em;

        box-sizing: border-box;

        margin: auto auto;
        width: 100%;
        max-width: var(--max-article-width);
        padding: 1em;
    }

    #navbar-logo {
        cursor: pointer;
    
        // margin: auto 2em;
        // height: var(--navbar-height);
        height: var(--navbar-max-height);

        img {

        }
    }

    nav {
        // display: flex;
        // display: block;

        flex-basis: 100%;
    }

    .left-navbar {
        display: flex;
        justify-content: center;
    }

    .right-navbar {
        flex-shrink: 1;
        flex-grow: 1;
        // flex-basis: 140px;
    }

    .right-navbar .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 0;
        column-gap: 2em;
    
        float: center;

        > * {
            display: inline-block;
            flex-shrink: 0;
        }

        > a {
            text-decoration: none;
        }

        > * > h2 {
            color: var(--col-purple-dark);
            text-decoration: none;

            @at-root #navbar .right-navbar .content a:hover h2 {
                // color: var(--col-gold-dim);
                text-decoration: underline;
            }
        }
    }

    @include breakpoints.lg() {
        > .content {
            row-gap: auto;
        }

        #navbar-logo {
            flex-grow: 1;

            // margin-bottom: 2em;
            height: var(--navbar-height);

            img {

            }
        }

        nav {
            // display: flex;
            // display: inline-block;

            flex-basis: auto;

            > * {
                
            }
        }

        .right-navbar .content {
            justify-content: flex-end;
        }
    }
}
