@use "../../helpers";
@use "../../helpers/variables";
@use "../../helpers/mixins";
@use "../../helpers/styles";
@use "../../resources";
@use "../../resources/appearance/effects";
@use "../../resources/layout/breakpoints";
@use "../../resources/layout/sizes";
@use "../basic";
@use "../components";

:root {
    // --navbar-height: 10em;
    // --navbar-max-height: 8em;
}

#root {
    display: grid;
    justify-content: stretch;
    align-content:flex-start;
    gap: 0;

    > * {
        
    }
}
