@use "~scss/helpers";
@use "~scss/resources";
@use "~scss/resources/appearance/effects";
@use "~scss/styles/basic";

.rect-link {
    --background: white;
    --icon-size: 2cm;
}

.rect-link {
    display: inline-block;

    padding: 1em;
    padding-bottom: 2em;

    background: var(--background);

    text-decoration: none;
    
    .icon {
        display: block;

        width: var(--icon-size);
        height: var(--icon-size);

        // margin: auto auto;
        // margin-right: auto;
    }

    .title {
        display: block;

        font-size: 2em;
        font-weight: bold;
        // text-align: center;
        text-align: left;

        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .subtitle {
        display: block;

        font-weight: bold;
        // text-align: center;
        text-align: left;

        margin-bottom: 0.75rem;
    }

    .description {
        display: block;

        // text-align: center;
    }
}