@use "../../helpers";
@use "../../helpers/functions";
@use "../../helpers/mixins";
@use "../../resources";
@use "../../resources/appearance/effects";
@use "../../resources/layout/breakpoints";
@use "../basic";
@use "../basic/forms";

.book-player {
    --page-per-view: 2;

    --total-pages: 10;
    --current-page: 1;
    --progress: calc((var(--current-page) - 1) / (var(--total-pages) - 1) * 100%);
}

.book-player {
    cursor: crosshair;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    position: relative;
    display: inline-block;

    > .page {
        display: inline-block;

        width: inherit;
        height: inherit;
        min-width: inherit;
        max-width: inherit;
        min-height: inherit;
        max-height: inherit;

        > img {
            display: inline-block;

            width: inherit;
            height: inherit;

            min-width: inherit;
            max-width: inherit;
            min-height: inherit;
            max-height: inherit;

            text-align: center;
        }
    }
}

.book-player .progress {
    pointer-events: none;

    position: absolute;

    bottom: 0;

    width: 100%;
    height: 100%;

    z-index: 2;

    .slider { //background-color
        pointer-events: auto;

        --range-fill: var(--col-purple-dark);
        --range-remain: transparent;
        // --range-progress: ;
    
        cursor: pointer;
    
        appearance: none;
    
        position: absolute;
    
        bottom: calc(var(--progress-min) / -2);
        
        margin: 0;
        border-bottom-left-radius: 100vh;
        border-bottom-right-radius: 100vh;
        border-top-right-radius: 100vh;
        width: 100%;
        height: var(--progress-min);
        
        outline: none;
    
        // background: linear-gradient(to right, var(--range-fill) 0%, var(--range-fill) var(--progress), var(--range-remain) var(--progress), var(--range-remain) 100%);
        
        transform: translateY(50%);
    
        transition: height 30ms ease-in-out;
    }
    .slider::-webkit-slider-thumb { //use background
        pointer-events: auto;

        appearance: none;
    
        width: var(--point-min);
        height: var(--point-min);
    
        border-radius: 100%;
        background-color: var(--col-purple-dark);
        @include effects.drop-out; 
    
        transition: width 30ms linear, height 30ms linear;
    }
    .point-counter {
        pointer-events:fill;

        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        
        position: absolute;
        // bottom: 1rem;
        bottom: 0;
        left: clamp(var(--comp-width) / 2 + 0.5rem, var(--progress), 100% - var(--comp-width) / 2 - 0.5rem);
    
        display: inline-block;
    
        font-size: 0.9rem;
        font-weight: bold;
    
        transform: translateX(-50%);

        opacity: 0;

        transition: opacity 80ms linear, bottom 120ms ease;
    
        .head {
            display: grid;
            place-items: center;
    
            border-radius: 100vh;
            // height: 2em;
            padding: 0.5em;
        
            background-color: var(--col-purple-dark);
    
            @include effects.drop-out; 
    
            > span {
                display: flex;
                justify-content: center;
                align-items: baseline;
    
                min-width: 8em;
    
                *:not(.divide) {
                    display: inline-block;
    
                    flex-basis: 0;
                    flex-grow: 1;
                    flex-shrink: 1;
    
                    box-sizing: content-box;
    
                    width: 0;
                    padding: 0.25em;
    
                    border-color: transparent;
                    // border: var(--line-width) solid;
                    // border-radius: 100vh;
                    
                    font-size: 1em;
                    font-weight: bold;
                    text-align: center;
    
                    &.page {
                        cursor: text;
            
                        appearance: none;
        
                        box-sizing: content-box;
        
                        margin: 0;
        
                        color: var(--col-gold-dim);
                        background-color: transparent;
    
                        &:focus {
                            outline: none;
                            box-shadow: none;
    
                            text-decoration: underline var(--line-width) var(--col-gold-dim);
                        }
            
                        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                            appearance: none;
                        }
                    }
        
                    &.max {
                        border-color: transparent;
                    }
                }
    
                .divide {
                    flex-basis: 1ch;
                    flex-grow: 0;
                    flex-shrink: 0;
    
                    &::after {
                        content: "|";
                    }
                }
            }
        }
    }
    .zone {
        // pointer-events: auto;
        pointer-events: none;

        position: absolute;
    
        bottom: 0;
        left: 50%;

        // width: calc(100% + var(--progress-zone-size));
        width: 100%;
        height: var(--progress-zone-size);
        
        transform: translate(-50%, 50%);
    }
    .background {
        pointer-events: none;
    
        position: absolute;
    
        bottom: 0;
    
        width: 100%;
        height: var(--progress-area-height);
    
        background-image: linear-gradient(to top, var(--area), transparent);
    
        opacity: 0;
    
        z-index: auto;
    
        transition: var(--area-anim);
    }
    &.-near {
        .background {
            opacity: 1;
        }

        @include mixins.hover-cursor {
            .slider {
                height: var(--progress-near);

                transition: width 40ms ease-in-out;
            }

            .slider::-webkit-slider-thumb {
                width: var(--point-near);
                height: var(--point-near);

                transition: width 30ms ease-in-out, height 30ms ease-in-out;
            }
        }
    }
    @mixin -hover {
        .slider {
            height: var(--progress-max);
        }

        .slider::-webkit-slider-thumb {
            width: var(--point-most);
            height: var(--point-most);

            transition: width 40ms linear, height 40ms linear;
        }
    }
    &.-hover {
        @include -hover;
    }
    &.-active {
        .slider {
            height: var(--progress-max);

            filter: drop-shadow(0px 0px 0.4rem hsl(var(--colm-gold), 80%));
        }
        .slider::-webkit-slider-thumb {
            width: var(--point-max);
            height: var(--point-max);
        }
    }
    &:is(.-near, .-hover, .-active)/*:not(.-touch)*/ {
        .point-counter {
            bottom: 1rem;

            opacity: 1;

            // animation-delay: 2s;
            transition: opacity 80ms linear, bottom 120ms ease;
        }
    }

    //MOBILE ACCOMODATIONS
    @mixin intersect {
        @include breakpoints.sm(true) {
            @media (min-height: breakpoints.get-max(xs, false)) { //media query linked to _home.scss media
                @include mixins.hover-mobile {
                    &:not(.-active) {
                        @content;
                    }
                }
                @include mixins.hover-cursor {
                    &.-near:not(.-active) {
                        @content;
                    }
                }
            }
        }
    }

    @include mixins.hover-mobile {
        @include -hover;

        .point-counter {
            transition: opacity 80ms linear 1.5s, bottom 120ms ease 1.5s;
        }
    }
    @include intersect {
        /**/@include -hover;

        .slider {
            background: linear-gradient(to bottom, transparent 0%, transparent 50%, var(--col-purple-dark) 50%, var(--col-purple-dark) 100%);
        }
        .slider::-webkit-slider-thumb {
            background: linear-gradient(to bottom, var(--col-purple-dark) 0%, var(--col-purple-dark) 50%, var(--col-gold-dim) 50%, var(--col-gold-dim) 100%);
        }
    }
}

.book-player .page-turn {
    @mixin side($measure) {
        @include mixins.custom-selector(".next") {
            right: #{$measure};
        }
        @include mixins.custom-selector(".last") {
            left: #{$measure};
        }
    }

    & {
        user-select:none;
        pointer-events: none;
        -webkit-tap-highlight-color: transparent;

        position: absolute;
        
        top: 0;

        width: calc(100% / var(--page-per-view));
        height: 100%;

        @include side(0);

        > * {
            position: absolute;
    
            top: 50%;
    
            @include side(0);
    
            transform: translateY(-50%);
    
            &.zone {
                top:0;

                width: var(--page-zone-width);
                height: 100%;

                transform: none;

            }
    
            &.background {
                width: var(--page-area-width);
                height: 100%;

                @include mixins.custom-selector(".next") {
                    background-image: linear-gradient(to left, var(--area), transparent);
                }
                @include mixins.custom-selector(".last") {
                    background-image: linear-gradient(to right, var(--area), transparent);
                }

                opacity: 0;
            
                transition: var(--area-anim);
            }
    
            &.active {
                width: 100%;
                height: 100%;
    
                background-color: transparent;
            }
    
            &.arrow {
                width: 20px;
            
                @include effects.drop-out(true);
                opacity: 0;
            
                transform: translateY(-50%);
            
                transition: opacity 80ms linear, left 120ms ease, right  120ms ease;
            }
        }
    }
    @include mixins.hover-mobile {
        > * {
            &.zone {
                height: calc(100% - 2em);
                // height: calc(100% - 1rem);
            }
        }
    }

    &.-hover {
        pointer-events: all;

        cursor: pointer;

        > * {
            &.background {
                opacity: 1;
    
                transition: none;
            }
    
            &.arrow {
                opacity: 0.5;
    
                transition: opacity 60ms linear, left 120ms ease, right  120ms ease;
    
                @include side(var(--page-arrow-distance));
            }
        }
    }
    &.-active {
        > * {
            &.background {
                opacity: 0;
            }
    
            &.active {
                @include mixins.custom-selector(".next") {
                    background-image: linear-gradient(to right, var(--page-turn), transparent);
                }
                @include mixins.custom-selector(".last") {
                    background-image: linear-gradient(to left, var(--page-turn), transparent);
                }
            }
    
            &.arrow {
                opacity: 1;
            }
        }
    }
}
