@use "~src/scss/helpers";
@use "~src/scss/helpers/functions";
@use "~src/scss/helpers/mixins";
@use "~src/scss/resources";
@use "~src/scss/resources/effects";
@use "~src/scss/resources/breakpoints";
@use "~src/scss/stylesheets";
@use "~src/scss/stylesheets/form";

.book-player {
    cursor: crosshair;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    position: relative;
    display: inline-block;

    > .page {
        display: inline-block;

        width: inherit;
        height: inherit;
        min-width: inherit;
        max-width: inherit;
        min-height: inherit;
        max-height: inherit;

        // > img {
        > * {
            display: inline-block;

            width: inherit;
            height: inherit;

            min-width: inherit;
            max-width: inherit;
            min-height: inherit;
            max-height: inherit;

            text-align: center;
        }
    }
}

.book-player .page-turn {
    @mixin side($measure) {
        @include mixins.custom-selector(".next") {
            right: #{$measure};
        }
        @include mixins.custom-selector(".prev") {
            left: #{$measure};
        }
    }

    & {
        user-select:none;
        pointer-events: none;
        -webkit-tap-highlight-color: transparent;

        position: absolute;
        
        top: 0;

        height: 100%;

        @include side(0);

        > * {
            position: absolute;
    
            top: 50%;
    
            @include side(0);
    
            transform: translateY(-50%);
    
            &.zone {
                top:0;

                width: var(--page-zone-width);
                height: 100%;

                transform: none;

            }
    
            &.background {
                width: var(--page-area-width);
                height: 100%;

                @include mixins.custom-selector(".next") {
                    background-image: linear-gradient(to left, var(--area), transparent);
                }
                @include mixins.custom-selector(".prev") {
                    background-image: linear-gradient(to right, var(--area), transparent);
                }

                opacity: 0;
            
                transition: var(--area-anim);
            }
    
            &.active {
                width: 100%;
                height: 100%;
    
                background-color: transparent;
            }
    
            &.arrow {
                width: 20px;
            
                @include effects.drop-out(true);
                opacity: 0;
            
                transform: translateY(-50%);
            
                transition: opacity 80ms linear, left 120ms ease, right  120ms ease;
            }
        }
    }
    @include mixins.hover-mobile {
        > * {
            &.zone {
                height: calc(100% - 2em);
                // height: calc(100% - 1rem);
            }
        }
    }

    &.-hover {
        pointer-events: all;

        cursor: pointer;

        > * {
            &.background {
                opacity: 1;
    
                transition: none;
            }
    
            &.arrow {
                opacity: 0.5;
    
                transition: opacity 60ms linear, left 120ms ease, right  120ms ease;
    
                @include side(var(--page-arrow-distance));
            }
        }
    }
    &.-active {
        > * {
            &.background {
                opacity: 0;
            }
    
            &.active {
                @include mixins.custom-selector(".next") {
                    background-image: linear-gradient(to right, var(--page-turn), transparent);
                }
                @include mixins.custom-selector(".prev") {
                    background-image: linear-gradient(to left, var(--page-turn), transparent);
                }
            }
    
            &.arrow {
                opacity: 1;
            }
        }
    }
}
